In [1]:
import pandas as pd

jogos = pd.read_excel('Todos os resultados da Mega Sena  Rede Loteria.xlsx')
display(jogos)

,Todos os resultados da Mega Sena | Rede Loteria,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,Conc.,Data,NaN,NaN,NaN,NaN,NaN,NaN,Gan.,Prêmio,Apostas
1,2808,14/12/2024,10.0,24.0,33.0,35.0,41.0,46.0,0,NaN,8769912
2,2807,12/12/2024,8.0,25.0,49.0,52.0,55.0,56.0,0,NaN,6461574
3,2806,10/12/2024,5.0,11.0,13.0,33.0,45.0,46.0,0,NaN,5756102
4,2805,07/12/2024,1.0,6.0,24.0,47.0,55.0,58.0,1,28019522.26,10431704
...,...,...,...,...,...,...,...,...,...,...,...
2804,5,08/04/1996,1.0,2.0,6.0,16.0,19.0,46.0,0,NaN,NaN
2805,4,01/04/1996,1.0,5.0,6.0,27.0,42.0,59.0,0,NaN,NaN
2806,3,25/03/1996,10.0,11.0,29.0,30.0,36.0,47.0,2,391192.51,NaN
2807,2,18/03/1996,9.0,37.0,39.0,41.0,43.0,49.0,1,2307162.23,NaN
2808,1,11/03/1996,4.0,5.0,30.0,33.0,41.0,52.0,0,NaN,NaN

In [2]:
jogos = jogos.iloc[1:]
jogos = jogos.loc[:, 'Unnamed: 1':'Unnamed: 7']

,Todos os resultados da Mega Sena | Rede Loteria,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
1,2808,14/12/2024,10.0,24.0,33.0,35.0,41.0,46.0,0,NaN,8769912
2,2807,12/12/2024,8.0,25.0,49.0,52.0,55.0,56.0,0,NaN,6461574
3,2806,10/12/2024,5.0,11.0,13.0,33.0,45.0,46.0,0,NaN,5756102
4,2805,07/12/2024,1.0,6.0,24.0,47.0,55.0,58.0,1,28019522.26,10431704
5,2804,05/12/2024,14.0,24.0,25.0,31.0,33.0,60.0,0,NaN,5564512
...,...,...,...,...,...,...,...,...,...,...,...
2804,5,08/04/1996,1.0,2.0,6.0,16.0,19.0,46.0,0,NaN,NaN
2805,4,01/04/1996,1.0,5.0,6.0,27.0,42.0,59.0,0,NaN,NaN
2806,3,25/03/1996,10.0,11.0,29.0,30.0,36.0,47.0,2,391192.51,NaN
2807,2,18/03/1996,9.0,37.0,39.0,41.0,43.0,49.0,1,2307162.23,NaN
2808,1,11/03/1996,4.0,5.0,30.0,33.0,41.0,52.0,0,NaN,NaN

In [5]:
jogos.columns = ['Data', 'Dezena 1', 'Dezena 2', 'Dezena 3', 'Dezena 4', 'Dezena 5', 'Dezena 6']
jogos['Data'] = pd.to_datetime(jogos['Data'], format='%d/%m/%Y')
jogos = jogos.iloc[::-1].reset_index(drop=True)
display(jogos)

           Data  Dezena 1  Dezena 2  Dezena 3  Dezena 4  Dezena 5  Dezena 6
0    1996-03-11       4.0       5.0      30.0      33.0      41.0      52.0
1    1996-03-18       9.0      37.0      39.0      41.0      43.0      49.0
2    1996-03-25      10.0      11.0      29.0      30.0      36.0      47.0
3    1996-04-01       1.0       5.0       6.0      27.0      42.0      59.0
4    1996-04-08       1.0       2.0       6.0      16.0      19.0      46.0
...         ...       ...       ...       ...       ...       ...       ...
2803 2024-12-05      14.0      24.0      25.0      31.0      33.0      60.0
2804 2024-12-07       1.0       6.0      24.0      47.0      55.0      58.0
2805 2024-12-10       5.0      11.0      13.0      33.0      45.0      46.0
2806 2024-12-12       8.0      25.0      49.0      52.0      55.0      56.0
2807 2024-12-14      10.0      24.0      33.0      35.0      41.0      46.0

[2808 rows x 7 columns]

In [6]:
import pandas as pd

# Criar um DataFrame de exemplo
# Substitua 'jogos' pelo seu DataFrame real

# Criar um dicionário para armazenar os resultados
resultados = {numero: {'Repeticoes': 0, 'Ultima Data': None} for numero in range(1, 61)}

# Iterar pelas linhas do DataFrame
for _, row in jogos.iterrows():
    data = row['Data']
    dezenas = row[['Dezena 1', 'Dezena 2', 'Dezena 3', 'Dezena 4', 'Dezena 5', 'Dezena 6']]
    
    for dezena in dezenas:
        # Atualizar o número de repetições
        resultados[dezena]['Repeticoes'] += 1
        # Atualizar a última data em que a dezena apareceu
        resultados[dezena]['Ultima Data'] = data

# Converter os resultados para um DataFrame para melhor visualização
resultado_df = pd.DataFrame.from_dict(resultados, orient='index')
resultado_df.index.name = 'Numero'
resultado_df.reset_index(inplace=True)

# Visualizar o DataFrame com os resultados
display(resultado_df)

    Numero  Repeticoes Ultima Data
0        1         271  2024-12-07
1        2         279  2024-10-29
2        3         262  2024-11-19
3        4         293  2024-09-17
4        5         303  2024-12-10
5        6         282  2024-12-07
6        7         266  2024-11-05
7        8         277  2024-12-12
8        9         265  2024-11-19
9       10         329  2024-12-14
10      11         296  2024-12-10
11      12         266  2024-09-10
12      13         289  2024-12-10
13      14         273  2024-12-05
14      15         239  2024-11-16
15      16         292  2024-11-09
16      17         295  2024-11-30
17      18         269  2024-11-19
18      19         270  2024-11-26
19      20         277  2024-12-03
20      21         235  2024-11-30
21      22         252  2024-11-01
22      23         298  2024-10-22
23      24         280  2024-12-14
24      25         281  2024-12-12
25      26         234  2024-11-30
26      27         293  2024-11-28
27      28         291  2024-11-30
28      29         282  2024-10-26
29      30         297  2024-10-08
30      31         259  2024-12-05
31      32         298  2024-12-03
32      33         306  2024-12-14
33      34         304  2024-11-01
34      35         298  2024-12-14
35      36         283  2024-10-19
36      37         302  2024-11-05
37      38         297  2024-11-23
38      39         266  2024-10-22
39      40         262  2024-11-23
40      41         296  2024-12-14
41      42         299  2024-10-26
42      43         295  2024-12-03
43      44         298  2024-10-08
44      45         278  2024-12-10
45      46         294  2024-12-14
46      47         269  2024-12-07
47      48         260  2024-11-28
48      49         286  2024-12-12
49      50         275  2024-11-26
50      51         284  2024-10-16
51      52         282  2024-12-12
52      53         319  2024-09-28
53      54         287  2024-11-19
54      55         239  2024-12-12
55      56         291  2024-12-12
56      57         270  2024-12-03
57      58         272  2024-12-07
58      59         274  2024-12-03
59      60         269  2024-12-05

In [8]:
# Garantir que a coluna 'Ultima Data' esteja no formato datetime
resultado_df['Ultima Data'] = pd.to_datetime(resultado_df['Ultima Data'])

# Calcular os dias desde a última aparição
resultado_df['Dias desde Ultima'] = (pd.Timestamp.now() - resultado_df['Ultima Data']).dt.days

# Garantir pelo menos 10 números que menos apareceram
menor_frequencia_numeros = resultado_df.sort_values(by='Repeticoes').head(10)['Repeticoes'].max()
numeros_menos_apareceram = resultado_df[resultado_df['Repeticoes'] <= menor_frequencia_numeros]['Numero'].tolist()

# Garantir pelo menos 10 números que fazem mais tempo que apareceram
maior_tempo_numeros = resultado_df.sort_values(by='Dias desde Ultima', ascending=False).head(10)['Dias desde Ultima'].min()
numeros_maior_tempo = resultado_df[resultado_df['Dias desde Ultima'] >= maior_tempo_numeros]['Numero'].tolist()

# Criar DataFrames detalhados
menos_apareceram_df = resultado_df[resultado_df['Numero'].isin(numeros_menos_apareceram)] \
    .sort_values(by='Repeticoes')
maior_tempo_df = resultado_df[resultado_df['Numero'].isin(numeros_maior_tempo)] \
    .sort_values(by='Dias desde Ultima', ascending=False)

# Exibir os resultados detalhados
print("Números que menos apareceram (detalhado):")
display(menos_apareceram_df[['Numero', 'Repeticoes', 'Ultima Data']])

print("\nNúmeros que fazem mais tempo que apareceram (detalhado):")
display(maior_tempo_df[['Numero', 'Repeticoes', 'Ultima Data', 'Dias desde Ultima']])

Números que menos apareceram (detalhado):

    Numero  Repeticoes Ultima Data
25      26         234  2024-11-30
20      21         235  2024-11-30
14      15         239  2024-11-16
54      55         239  2024-12-12
21      22         252  2024-11-01
30      31         259  2024-12-05
47      48         260  2024-11-28
2        3         262  2024-11-19
39      40         262  2024-11-23
8        9         265  2024-11-19

Números que fazem mais tempo que apareceram (detalhado):

    Numero  Repeticoes Ultima Data  Dias desde Ultima
11      12         266  2024-09-10                 97
3        4         293  2024-09-17                 90
52      53         319  2024-09-28                 79
29      30         297  2024-10-08                 69
43      44         298  2024-10-08                 69
50      51         284  2024-10-16                 61
35      36         283  2024-10-19                 58
22      23         298  2024-10-22                 55
38      39         266  2024-10-22                 55
28      29         282  2024-10-26                 51
41      42         299  2024-10-26                 51